@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}



#abaLateral {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #232129;
    width: 300px;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.campoLateral {
    display: flex;
    font-weight: 300;
    height: 44px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    font-size: 16px;
}
.campoLateral :hover {
    display: flex;
    font-weight: 700;
    height: 44px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    background-color: #FF9000;
    color: #333333;
    font-size: 16px;
}
#userTopSideBar {
    display: flex;
    height: 105px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img {
        height: 62px;
        width: 62px;
    }
}


#parteSuperior {
    display: flex;
    background-color: #F4EDE8;
    height: 105px;
    align-items: center;
    justify-content: space-between;
}
.icons {
    height: 32px
}
.leftSide {
    display: flex;
    align-items: center;
    padding: 0 64px;
    gap: 32px;
}
.rightSide {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
    p {
        opacity: 40%;
    }
}



#parteCentral {
    background-color: #312E38;
    padding: 0 90px;
}
.decisionsH1 {
    font-size: 26px;
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF45;
    padding-bottom: 10px;
    h1 {
        font-weight: 100;
        opacity: 40%;
    }
}
.campoDePesquisa {
    display: flex;
    background-color: #232129;
    width: 300px;
    height: 40px;
    align-items: center;
    border-radius: 40px;
    color: #FFFFFF;
    margin-top: 20px;
    padding-left: 15px;
}
.campoDePesquisa p {
    padding-left: 15px;
    font-size: 17px;
    opacity: 50%
}
.pageTop {
    display: flex;
    justify-content: flex-end;
}
.mainContent {
    display: flex;
    height: 75vh;
    width: 100%;
    gap: 22px;
    flex-direction: column;
    overflow-y: auto; /* allow content to scroll when many items are added */
}

.arrowDown {
        height: 20px;
        width: 20px;
}


.divsSuperiorECentral {
    display: flex;
    flex-direction: column;
    background-color: #312E38;
    width: 100%;
}

.typeOfEquipment {
    display: flex;
    width: 270px;
    height: 50px;
    background-color: #232129;
    border-radius: 10px;
    border: solid 1px #FFFFFF45;
    align-items: center;
    margin-top: 30px;
    color: white;
    p {
        opacity: 40%;
        font-size: 18px;
    }
    img {
        padding: 0 10px;
    }
}
.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: solid 1px #FFFFFF45;
}

.equipments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* allow items to wrap to new rows */
    width: 100%;
    align-items: flex-start;
    padding: 10px 0;
}
.sectionName {
    font-size: 26px;
    color: #FFFFFF;
    opacity: 40%;
}
.insertItemGroup {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 5px;
    color: #FFFFFF;
    opacity: 60%;
    /*flex: 0 0 263px;  keep a consistent item width so they line up in rows */
}
/* non-nested rule for the image inside each item group */
.insertItemGroup img {
    height: 20px;
    width: 20px;
}
.insertItemField {
    display: flex;
    width: 263px;
    height: 50px;
    background-color: #232129;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
    margin-top: 5px;
    border-radius: 10px;
    color: #FFFFFF;
    img {
        opacity: 40%;
    }
    p {
        opacity: 40%;
    }
}