@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}



#abaLateral {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #232129;
    width: 300px;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.campoLateral {
    display: flex;
    font-weight: 300;
    height: 44px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    font-size: 16px;
}
.campoLateral :hover {
    display: flex;
    font-weight: 700;
    height: 44px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    background-color: #FF9000;
    color: #333333;
    font-size: 16px;
}
#userTopSideBar {
    display: flex;
    height: 105px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img {
        height: 62px;
        width: 62px;
    }
}


#parteSuperior {
    display: flex;
    background-color: #F4EDE8;
    height: 105px;
    align-items: center;
    justify-content: space-between;
}
.icons {
    height: 32px
}
.leftSide {
    display: flex;
    align-items: center;
    padding: 0 64px;
    gap: 32px;
}
.rightSide {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
    p {
        opacity: 40%;
    }
}



#parteCentral {
    background-color: #312E38;
    padding: 0 90px;
}
.decisionsH1 {
    font-size: 26px;
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF45;
    padding-bottom: 10px;
    h1 {
        font-weight: 100;
        opacity: 40%;
    }
}
.campoDePesquisa {
    display: flex;
    background-color: #232129;
    width: 300px;
    height: 40px;
    align-items: center;
    border-radius: 40px;
    color: #FFFFFF;
    margin-top: 20px;
    padding-left: 15px;
}
.campoDePesquisa p {
    padding-left: 15px;
    font-size: 17px;
    opacity: 50%
}
.pageTop {
    display: flex;
    justify-content: flex-end;
}
.mainContent {
    display: flex;
    height: 75vh;
    width: 100%;
    gap: 22px;
    flex-direction: column;
}
.squareOption {
    display: flex;
    height: 160px;
    width: 160px;
    margin-top: 30px;
    background-color: #3E3B47;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #999591;
    box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.28);
    -webkit-box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.28);
    -moz-box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.28);
}
.orderBy {
    display: flex;
    width: 196px;
    height: 50px;
    background-color: #232129;
    border-radius: 10px;
    border: solid 1px #FFFFFF45;
    align-items: center;
    margin-top: 30px;
    color: white;
    p {
        opacity: 40%;
        padding-right: 45px;
        font-size: 18px;
    }
    img {
        padding: 0 5px 0 10px;
    }
}
.addEquipment {
    display: flex;
    width: 100%;
    height:40px;
    align-items: center;
    background-color: #4B4854;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    p {
        opacity: 40%;
    }
    img {
        width: 20px;
        height: 20px;
        padding: 0 10px 0 20px
    }
}
.arrowDown {
        height: 20px;
        width: 20px;
}


.divsSuperiorECentral {
    display: flex;
    flex-direction: column;
    background-color: #312E38;
    width: 100%;
}