.container {
    display: grid;
    background-color: green;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px

}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 150px;
    height: 150px;
}