@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}



#abaLateral {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #232129;
    width: 300px;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
.campoLateral {
    display: flex;
    font-weight: 300;
    height: 44px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    font-size: 16px;
}
.campoLateral :hover {
    display: flex;
    font-weight: 700;
    height: 44px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    background-color: #FF9000;
    color: #333333;
    font-size: 16px;
}
#userTopSideBar {
    display: flex;
    height: 105px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    img {
        height: 62px;
        width: 62px;
    }
}


#parteSuperior {
    display: flex;
    background-color: #F4EDE8;
    height: 105px;
    align-items: center;
    justify-content: space-between;
}
.icons {
    height: 32px
}
.leftSide {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
}
.rightSide {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 15px;
    p {
        opacity: 40%;
    }
}



#parteCentral {
    background-color: #312E38;
    padding-left: 62px;
    padding-right: 62px;
}
.campoDePesquisa {
    display: flex;
    background-color: #232129;
    width: 300px;
    height: 40px;
    align-items: center;
    border-radius: 40px;
    color: #FFFFFF;
    opacity: 40%;
    margin: 10px;
    padding-left: 15px;
}
.campoDePesquisa p {
    padding-left: 15px;
    font-size: 17px;
}
.pageTop {
    display: flex;
    justify-content: flex-end;
}


.divsSuperiorECentral {
    display: flex;
    flex-direction: column;
    background-color: #312E38;
    width: 100%;
}