.google-sans-code-fontePrincipal {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    background-color: #D5BDAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Google Sans Code", monospace;
}

.app {
    justify-content: center;
    background-color: #D6CCC2;
    width: 340px;
    height: 90%;
    border-radius: 25px;
    text-align: center;
    @media screen and (min-width: 700px) {
        width: 600px;
    };
    @media screen and (min-width: 1200px) {
        width: 900px;
    };
}

h1 {
    font-weight: 700;
    margin-top:20px;
    font-size: 30px;
}

h2 {
    font-weight: 700;
    margin-top:20px;
    font-size: 25px;
}
.addTaskBar {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.tasksList {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    border-radius: 25px;
}

.task {
    display: flex;
    flex-direction: row;
    background-color: #32CD32;
    width: 95%;
    margin: 20px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 25px;
}

textarea {
    width: 90%;
    margin: 10px 0px 10px 10px;
    border-radius: 25px;
}

button {
    width: 55px;
    height:37.2px;
    background-color: #32CD32;
    border-style: groove;
    border-color: rgb(173, 170, 170);
    margin-right: 10px;
    border-radius: 25px;
}