body {
    background-color: #d6ccc2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-color: aqua;
}