.google-sans-code-fontePrincipal {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    background-color: #D5BDAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Google Sans Code", monospace;
}

.app {
    justify-content: center;
    background-color: #D6CCC2;
    width: 50%;
    min-width: 476px;
    height: 90%;
    border-radius: 25px;
    text-align: center;
}

h1 {
    font-weight: 700;
    margin-top:20px;
    font-size: 30px;
}

.addTaskBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

textarea {
    width: 90%;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

button {
    width: 55px;
    height:37.3px;
    background-color: #32CD32;
    border-style: groove;
    border-color: rgb(173, 170, 170);
}